Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

finished stats page and added dummy data
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
Owners: @rzsupra17, @xmorton

Added Holly's updated words lists
  Database/Dictionary/src/main/resources/badwords.txt
  Database/Dictionary/src/main/resources/validwords.txt
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixed screen sizing
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

should fix the bugs from refactoring
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/server.js
Owners: @rzsupra17

Fixed the crash issue when servers aren't running
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
Owners: @rzsupra17, @xmorton

added admin panel and added changes to frontend manager
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/routes/main-route.js
  Server Backend/static/css/admin.css
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/scss/admin.scss
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/views/admin.html
Owners: @rzsupra17

added team to player info
  Server Backend/views/admin.html
Owners: @rzsupra17

removed frontend folder as it is now on the backend
  Frontend/README.md
  Frontend/index.html
  Frontend/initial_tile.json
  Frontend/models/game-board-model.js
  Frontend/refill.json
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

added fix
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

added isAI key to object
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

added tiles to top
  Server Backend/views/admin.html
Owners: @rzsupra17

final UI changes
  Server Frontend/core/assets/skin/OsweebleSkinFinal3.png
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/BonusActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

updated the admin console and moved new game timer to game event
  Server Backend/entities/GameManager.js
  Server Backend/static/css/admin.css
  Server Backend/static/scss/admin.scss
  Server Backend/views/admin.html
Owners: @rzsupra17

timing and tile fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

admin page now shows score and fixed AI connection issue
  Server Backend/entities/GameManager.js
  Server Backend/views/admin.html
Owners: @rzsupra17

updated tests files to fix issues
  .travis.yml
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated function
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/Debug.js
  Server Backend/helpers/Extractor.js
Owners: @rzsupra17

Remove lombok
  Database/GameDB/pom.xml
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/WordFrequency.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated for new login and register page
  Server Backend/entities/GameManager.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/views/login.html
  Server Backend/views/register.html
Owners: @rzsupra17

working on login and register
  Server Backend/routes/main-route.js
  Server Backend/views/register.html
Owners: @rzsupra17

Squashed some bugs
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/FontManager.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/JsonResponse.java
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/teamData.java
Owners: @rzsupra17, @xmorton

Plugged in some values
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/teamData.java
Owners: @rzsupra17, @xmorton

updating
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/views/login.html
  Server Backend/views/register.html
Owners: @rzsupra17

Added rules alert for registration page
  Server Backend/views/register.html
Owners: @rzsupra17

added DW and TW tiles
  Server Frontend/core/assets/Background.jpg
  Server Frontend/core/assets/board.png
  Server Frontend/core/assets/data/words.txt
  Server Frontend/core/assets/rack.jpg
  Server Frontend/core/assets/temp.png
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

winning background scaling
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
Owners: @rzsupra17, @xmorton

cleaned up script to work with jquery instead
  Server Backend/views/register.html
Owners: @rzsupra17

Fix an issue and add more features
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/WordFrequency.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

TeamData name change, still broken
  Server Frontend/core/src/com/csc480/stats/TeamData.java
Owners: @rzsupra17, @xmorton

Set fonts to b-sans; stop providing the function of moving a selected tile around the game board
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

fixes for demo
  Server Frontend/core/assets/Background.jpg
  Server Frontend/core/assets/board.png
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Change PLACE to DONE
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Added GameResults
  Database/GameDB/src/main/java/com/csc480red/gamedb/GameResult.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/GameResultRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/WordFrequency.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Extract stats into separate backend
  Stats Backend/.eslintrc.json
  Stats Backend/.gitignore
  Stats Backend/README.md
  Stats Backend/entities/Bag.js
  Stats Backend/entities/FrontendManager.js
  Stats Backend/entities/GameManager.js
  Stats Backend/entities/Gameboard.js
  Stats Backend/entities/PlayerManager.js
  Stats Backend/entities/Tile.js
  Stats Backend/helpers/Debug.js
  Stats Backend/helpers/Extractor.js
  Stats Backend/helpers/LetterDistributor.js
  Stats Backend/helpers/Logger.js
  Stats Backend/helpers/MacGrabber.js
  Stats Backend/helpers/Override.js
  Stats Backend/helpers/ResponseHandler.js
  Stats Backend/helpers/ScoreCalculator.js
  Stats Backend/helpers/Socket.js
  Stats Backend/helpers/VerifyTokens.js
  Stats Backend/package.json
  Stats Backend/routes/stats-route.js
  Stats Backend/server.js
  Stats Backend/views/admin.html
  Stats Backend/views/gameboard.html
  Stats Backend/views/login.html
  Stats Backend/views/register.html
Owners: @rzsupra17, @xmorton, @BrendanOswego

Added dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed unnecessary files
  Stats Backend/entities/Bag.js
  Stats Backend/entities/FrontendManager.js
  Stats Backend/entities/GameManager.js
  Stats Backend/entities/Gameboard.js
  Stats Backend/entities/PlayerManager.js
  Stats Backend/entities/Tile.js
  Stats Backend/helpers/Debug.js
  Stats Backend/helpers/Extractor.js
  Stats Backend/helpers/LetterDistributor.js
  Stats Backend/helpers/Logger.js
  Stats Backend/helpers/MacGrabber.js
  Stats Backend/helpers/ResponseHandler.js
  Stats Backend/helpers/ScoreCalculator.js
  Stats Backend/helpers/VerifyTokens.js
  Stats Backend/views/admin.html
  Stats Backend/views/gameboard.html
  Stats Backend/views/login.html
  Stats Backend/views/register.html
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed dependencies
  Stats Backend/helpers/Socket.js
  Stats Backend/package.json
  Stats Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

changed double letter to triple word
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

attempting db integration and removal of files
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/config.js
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/logo.png
  Server Backend/views/login.html
  Server Backend/views/register.html
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated
  Server Backend/package.json
Owners: @rzsupra17
