Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

Add team finished
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Implemented current team endpoint
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Static folder added
  Server Backend/server.js
  Server Backend/static/bootstrap-4.0.0.min.css
  Server Backend/static/bootstrap-4.0.0.min.js
  Server Backend/static/jquery-3.3.1.min.js
  Server Backend/static/socketio-2.0.3.min.js
  Server Backend/static/tether-1.2.4.min.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Socket integration
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/server.js
  Server Backend/views/gameboard.html
  Server Backend/views/playWord.html
Owners: @rzsupra17

added code coverage
  .travis.yml
  Database/BadWordDictionary/pom.xml
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  README.md
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed BadWordDictionary
  .travis.yml
  Database/BadWordDictionary/.gitignore
  Database/BadWordDictionary/mvnw
  Database/BadWordDictionary/mvnw.cmd
  Database/BadWordDictionary/pom.xml
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BWDictionaryController.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BwDictionaryApplication.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/Word.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/WordRepository.java
  Database/BadWordDictionary/src/main/resources/invalid.txt
  Database/BadWordDictionary/src/test/java/com/csc480red/bwdictionary/BwDictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added code coverage
  .travis.yml
  Database/BadWordDictionary/pom.xml
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  README.md
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Static folder added
  Server Backend/server.js
  Server Backend/static/bootstrap-4.0.0.min.css
  Server Backend/static/bootstrap-4.0.0.min.js
  Server Backend/static/jquery-3.3.1.min.js
  Server Backend/static/socketio-2.0.3.min.js
  Server Backend/static/tether-1.2.4.min.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Removed BadWordDictionary
  .travis.yml
  Database/BadWordDictionary/.gitignore
  Database/BadWordDictionary/mvnw
  Database/BadWordDictionary/mvnw.cmd
  Database/BadWordDictionary/pom.xml
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BWDictionaryController.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BwDictionaryApplication.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/Word.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/WordRepository.java
  Database/BadWordDictionary/src/main/resources/invalid.txt
  Database/BadWordDictionary/src/test/java/com/csc480red/bwdictionary/BwDictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Socket integration
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/server.js
  Server Backend/views/gameboard.html
  Server Backend/views/playWord.html
Owners: @rzsupra17

added letter/score DB
  Database/ScoresDB/.gitignore
  Database/ScoresDB/.mvn/wrapper/maven-wrapper.jar
  Database/ScoresDB/.mvn/wrapper/maven-wrapper.properties
  Database/ScoresDB/mvnw
  Database/ScoresDB/mvnw.cmd
  Database/ScoresDB/pom.xml
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/Score.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoreRepository.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoreRestController.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoresDbApplication.java
  Database/ScoresDB/src/main/resources/application.properties
  Database/ScoresDB/src/test/java/com/csc480red/scoresdb/ScoresDbApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

ai-fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Initialize tiles based on data
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

ai-fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

fixed sockets not existing error
  Server Backend/helpers/Socket.js
  Server Backend/server.js
Owners: @rzsupra17

fixed sockets not existing error
  Server Backend/helpers/Socket.js
  Server Backend/server.js
Owners: @rzsupra17

Fixed curly brace bug
  Server Backend/package-lock.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

fixed bug
  Server Backend/routes/users-route.js
Owners: @rzsupra17

fixed bug
  Server Backend/routes/users-route.js
Owners: @rzsupra17

uploading the stuff from the meeting
  Server Frontend/build.gradle
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/PlayIdea.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
Owners: @rzsupra17, @xmorton

ai-fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

uploading the stuff from the meeting
  Server Frontend/build.gradle
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/PlayIdea.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
Owners: @rzsupra17, @xmorton

Initialize tiles based on data
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

preparing the GM to hook up with SM
  Server Backend/package-lock.json
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
Owners: @rzsupra17, @xmorton

Get new letters function
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

GM fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
Owners: @rzsupra17, @xmorton

GM fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
Owners: @rzsupra17, @xmorton

Linted code
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

Spelling changes, added socket to AI
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

updated tileData to reflect backend
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
Owners: @rzsupra17, @xmorton

updated tileData to reflect backend
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
Owners: @rzsupra17, @xmorton

Added highlighted color to selected tiles and placed tiles; refilled slots when tiles are being placed
  Frontend/index.html
  Frontend/models/AllTiles.png
  Frontend/models/Monitor1_FinalLayout.png
  Frontend/models/game-board-model.js
  Frontend/views/styles.css
Owners: @xmorton

Preliminary socket commit
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

start of GM socket implm
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

start of GM socket implm
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

Prelim template
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Initialize tiles based on data
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

cleaned up before production socket integration
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/routes/game-route.js
  Server Backend/server.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Added socket events
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/routes/index-route.js
  Server Backend/server.js
  Server Backend/views/serverTest.html
  Server Backend/views/socketTest.html
Owners: @rzsupra17

more updates
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
Owners: @rzsupra17, @xmorton

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
