Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

added stats assets from hannah
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Average Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Bonuses.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold FP Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Game Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Heading.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Longest Word.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Team Container.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Top Players.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Average Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Bonuses.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green FP Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Game Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Heading.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Longest Word.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Team Container.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Top Players.png
  Server Frontend/core/assets/StatsAssets/MainScreen.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Most Frequent Players.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Oswebble Logo_.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Overall Frequently Played.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Dirty Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Highest Game Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Longest Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Players Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Top Overall Players.png
  Server Frontend/core/assets/StatsAssets/T-Test Sentence.png
Owners: @rzsupra17, @xmorton

added stats assets from hannah
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Average Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Bonuses.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold FP Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Game Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Heading.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Longest Word.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Team Container.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Top Players.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Average Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Bonuses.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green FP Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Game Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Heading.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Longest Word.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Team Container.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Top Players.png
  Server Frontend/core/assets/StatsAssets/MainScreen.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Most Frequent Players.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Oswebble Logo_.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Overall Frequently Played.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Dirty Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Highest Game Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Longest Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Players Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Top Overall Players.png
  Server Frontend/core/assets/StatsAssets/T-Test Sentence.png
Owners: @rzsupra17, @xmorton

added functions that will be just for demo
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

misc fixes
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

misc fixes
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

more fixes
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
Owners: @rzsupra17, @xmorton

more fixes
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
Owners: @rzsupra17, @xmorton

should fix issue with undefined player managers
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

AI plays forever
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
Owners: @rzsupra17, @xmorton

AI plays forever
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
Owners: @rzsupra17, @xmorton

making changes
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

small changes, no shows socket ids
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

fixed issue with changeTurn throwing error
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Use axios to get tested initial tile info from the server side; Implement Swap and Shuffle functions; Include 2D array display testing code for Zack
  Frontend/index.html
  Frontend/initial_tile.json
  Frontend/models/game-board-model.js
  Frontend/refill.json
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

removed and ignored package-lock.json
  .gitignore
  Server Backend/package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

small updates
  Server Backend/entities/ServerManager.js
  Server Statistics Frontend/README.md
Owners: @rzsupra17, @xmorton

added board validation
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

fixing up to work with sockets
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

plz
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

plz
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

some fixes, some more bugs
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Use axios to get tested initial tile info from the server side; Implement Swap and Shuffle functions; Include 2D array display testing code for Zack
  Frontend/index.html
  Frontend/initial_tile.json
  Frontend/models/game-board-model.js
  Frontend/refill.json
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

fixes
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

Prelim socket events added: connect, whoAreYou, wordPlayed, playWord
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
Owners: @xmorton

Prelim socket events added: connect, whoAreYou, wordPlayed, playWord
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
Owners: @xmorton

some fixes, some more bugs
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

small updates
  Server Backend/entities/ServerManager.js
  Server Statistics Frontend/README.md
Owners: @rzsupra17, @xmorton

fixing up to work with sockets
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

continuing fixes
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/package.json
Owners: @rzsupra17

plz
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

added board validation
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

changed null to "null" in 2D array
  Frontend/models/game-board-model.js
Owners: @xmorton

changed null to "null" in 2D array
  Frontend/models/game-board-model.js
Owners: @xmorton

Added board validation
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/socketTest.html
Owners: @rzsupra17

Moved getNewLetters() to PlayerManager
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/tests/test.js
Owners: @rzsupra17

fixes for validation and wordPlayed evemt
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

Display board data from socket event
  Frontend/models/game-board-model.js
Owners: @xmorton

board isnt a string now
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
