Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

Display isTurn in dataUpdate event, Provide gameEvent textBox
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/views/styles.css
Owners: @xmorton

Added missing enable/disable function
  Frontend/models/game-board-model.js
Owners: @xmorton

Added game board color
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Use default background color for buttons in each browser. Those buttons will be styled later.
  Frontend/views/styles.css
Owners: @xmorton

Display isTurn in dataUpdate event, Provide gameEvent textBox
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/views/styles.css
Owners: @xmorton

Added missing enable/disable function
  Frontend/models/game-board-model.js
Owners: @xmorton

Use default background color for buttons in each browser. Those buttons will be styled later.
  Frontend/views/styles.css
Owners: @xmorton

Added game board color
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

removed AI for demo
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

updates hand actors
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

removed AI for demo
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

fixed hand actor exception on no player
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

board updates and fixes
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

frontend manager not connected wont crash backend
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

on client disconnect frontend is notified
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

now works with any number of clients in the game
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

refactored randomTile function into new function to work with other functions
  Frontend/models/game-board-model.js
Owners: @xmorton

Added errorMessage alert, fixed some loops with global variable.
  Frontend/models/game-board-model.js
Owners: @xmorton

displaying gameEvent in textbox
  Frontend/models/game-board-model.js
Owners: @xmorton

updated point values
  Frontend/models/game-board-model.js
Owners: @xmorton

Added errorMessage alert, fixed some loops with global variable.
  Frontend/models/game-board-model.js
Owners: @xmorton

updated point values
  Frontend/models/game-board-model.js
Owners: @xmorton

refactored randomTile function into new function to work with other functions
  Frontend/models/game-board-model.js
Owners: @xmorton

displaying gameEvent in textbox
  Frontend/models/game-board-model.js
Owners: @xmorton

fixed hand actor exception on no player
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

removed AI for demo
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

updates hand actors
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

refactoring
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

updated
  Server Backend/helpers/Socket.js
Owners: @rzsupra17

clients now have numbers
  Server Backend/entities/ServerManager.js
  Server Backend/routes/index-route.js
  Server Backend/static/frontend_board_model.js
  Server Backend/static/frontend_board_view_model.js
  Server Backend/static/frontend_play_area.css
  Server Backend/static/vuejs-2.5.16.min.js
  Server Backend/views/frontend_play_area.html
Owners: @rzsupra17

updated to show usernames and single game events
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/frontend_board_model.js
  Server Backend/static/frontend_play_area.css
  Server Backend/views/frontend_play_area.html
Owners: @rzsupra17

updated to now work with letter and word multipliers
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

updated tests to reflect newest code changes
  Server Backend/entities/Gameboard.js
  Server Backend/tests/test.js
Owners: @rzsupra17

updating GUI
  Server Frontend/core/assets/rack.jpg
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

gui update
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

gui update
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

added dummy playWord, AI now start from different indexes when searching for words
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
Owners: @rzsupra17, @xmorton

added dummy playWord, AI now start from different indexes when searching for words
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
Owners: @rzsupra17, @xmorton

command line arguments, event rename
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Added the tables to the StatsScreen create and render. Created font manager, HUD, and StatsTables classes to the Actors package.
  Server Frontend/core/assets/StatsAssets/statsBackground.png
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/FontManager.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
