Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

ai update hands on turn
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

RedundancyManager at last
  Server Backend/helpers/DB.js
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
  build.bat
  buildWINDOWS.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixed connection order
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Fixes #330
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Extractor.js
Owners: @rzsupra17

AI only prints stacktrace in debug mode
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed potential crash
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Changed button sizes
  Server Backend/static/css/frontend_play_area.css
  Server Backend/views/gameboard.html
Owners: @rzsupra17

AI prints debug stuff in debug mode
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Update special word count
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
Owners: @rzsupra17

Adjusted board margins and spacing
  Server Backend/static/css/frontend_play_area.css
  Server Backend/views/gameboard.html
Owners: @rzsupra17

prints only in debug
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

added smaller background image to gameboard.html
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/small3-unsplash.jpg
Owners: @rzsupra17

Put redundancy resend on timer
  Server Backend/server.js
Owners: @rzsupra17

Fixes Reliability Crash. Updated AI generation for backend
  Server Frontend/core/assets/aidebug.txt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

compressed background file
  Server Frontend/core/assets/Background 2.png
  Server Frontend/core/assets/Background.jpg
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

working to make AI more stupidererer
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

started rewrite
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

diconnect on error change
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

updates
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Added manager
  Server Backend/entities/SocketManager.js
Owners: @rzsupra17

removal and adding of clients to channels works
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
Owners: @rzsupra17

Fixed Redundancy Manager calls with DB
  Server Backend/helpers/DB.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
Owners: @rzsupra17

continuing updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Player.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/server.js
Owners: @rzsupra17

Removed useless code
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/static/js/frontend_board_view_model.js
Owners: @rzsupra17

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

fixed AI bug, made interface changes
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Player.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/helpers/Extractor.js
  Server Backend/package.json
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

more updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Player.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/helpers/ScoreCalculator.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

fixed login and now player data is saved when they leave
  Server Backend/entities/GameManager.js
  Server Backend/entities/Player.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/login.html
Owners: @rzsupra17

someupdates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

data now sent to database
  Server Backend/entities/GameManager.js
  Server Backend/helpers/ScoreCalculator.js
Owners: @rzsupra17

stopped double db check on user when they attempt to join
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

more updates
  Server Backend/entities/GameManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

updating
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

AI names are reusable
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

when error message is given, gameboard disappears
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

gameOver now works for mobile clients
  Server Backend/entities/GameManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17
