Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

Lint
  Server Backend/helpers/DB.js
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/Logger.js
  Server Backend/helpers/RedundancyManager.js
Owners: @rzsupra17

server now creates teams on db on start
  Server Backend/helpers/DB.js
  Server Backend/server.js
Owners: @rzsupra17

updated frontend
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/static/scss/frontend_play_area.scss
  Server Backend/views/gameboard.html
Owners: @rzsupra17

fixed team scores
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/scss/frontend_play_area.scss
  Server Backend/views/gameboard.html
Owners: @rzsupra17

time fixes
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Took RM out of class
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
Owners: @rzsupra17

Fixed some redundancies and corrected some display bugs
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

fixed memory leak, fixed AI trying to cheat
  Server Frontend/core/assets/Background.jpg
  Server Frontend/core/assets/BoardTilemap.tmx
  Server Frontend/core/assets/BoardTileset.tsx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/board.png
  Server Frontend/core/assets/data/words.txt
  Server Frontend/core/assets/goldBar.png
  Server Frontend/core/assets/greenBar.png
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/assets/images/tilesAtlas.atlas
  Server Frontend/core/assets/images/tilesAtlas.png
  Server Frontend/core/assets/images/tilesAtlas2.png
  Server Frontend/core/assets/images/tilesAtlas3.png
  Server Frontend/core/assets/rack.jpg
  Server Frontend/core/assets/temp.png
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/assets/tilesAtlas3.png
  Server Frontend/core/assets/tilesAtlas4.png
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

add tests for Database after changes to DB structure
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTest.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

add DictionaryApplicationTest to commit
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

remove unnecessary AutoWire
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

edit documentation for PlayerTest
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTest.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

gui crash bug fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  buildWINDOWS.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

Deleted commented out code
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

AI get reset when frontend reconnects
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

Fixes #282
  Server Backend/helpers/ResponseHandler.js
Owners: @rzsupra17

Fixed stats 404 error
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

Fixes #297
  Server Backend/views/register.html
Owners: @rzsupra17

Fixes #295
  Database/Dictionary/src/main/resources/specialwords.txt
Owners: @rzsupra17, @xmorton, @BrendanOswego

Closes #282
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Fixes #285
  Server Frontend/build.gradle
  Server Frontend/core/assets/aiwords.txt
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Got stats update working
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

Label fixes
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
Owners: @rzsupra17, @xmorton

References #314 #309
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

initial changes, more to come
  Server Frontend/build.gradle
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Fixes #305
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

WebSocket Implemented in FrontEnd Board Model
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

starting move to websockets
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Socket.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17

WebSocket readability
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

data name fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

actually allowed connection closing of AI
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

should fix #305 #316
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

fixes sockets to work with the websocket protocol
  Server Backend/entities/ServerManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/login.html
Owners: @rzsupra17

Response to playTime
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

websocket connection fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

removed socketio from AI and gradle build
  Server Frontend/build.gradle
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed JSON errors
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Clear mobile board on gameOver
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

removed socketio from GameManager
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

apparently disposed was a useful method
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton
