Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

more updates
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
Owners: @rzsupra17, @xmorton

Error handling
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

Reinsertion
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

Added events
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

working on frontend stuff
  Server Backend/package-lock.json
  Server Frontend/core/assets/Background.jpg
  Server Frontend/core/assets/skin/exempleSkin.atlas
  Server Frontend/core/assets/skin/exempleSkin.json
  Server Frontend/core/assets/skin/exempleSkin.png
  Server Frontend/core/assets/skin/font-export.fnt
  Server Frontend/core/assets/skin/font-title-export.fnt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Fixed failing Travis builds
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/test.js
  package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

Fixed everything and added tests
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17

Small changes to tests
  Server Backend/tests/test.js
Owners: @rzsupra17

Fixed tests
  Server Backend/tests/test.js
Owners: @rzsupra17

Fixed a bug - cannot put tiles back to slots
  Frontend/models/game-board-model.js
Owners: @xmorton

Fixed a bug - cannot put tiles back to slots
  Frontend/models/game-board-model.js
Owners: @xmorton

Added highlighted color to selected tiles and placed tiles; refilled slots when tiles are being placed
  Frontend/index.html
  Frontend/models/AllTiles.png
  Frontend/models/Monitor1_FinalLayout.png
  Frontend/models/game-board-model.js
  Frontend/views/styles.css
Owners: @xmorton

Linted code
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

Small changes to tests
  Server Backend/tests/test.js
Owners: @rzsupra17

Get new letters function
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

Fixed everything and added tests
  Server Backend/entities/GameManager.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17

Fixed tests
  Server Backend/tests/test.js
Owners: @rzsupra17

fixed
  Server Backend/package-lock.json
Owners: @rzsupra17

fixed
  Server Backend/package-lock.json
Owners: @rzsupra17

add tests to DB
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
  Database/Dictionary/src/test/resources/badwords.txt
  Database/Dictionary/src/test/resources/invalidwords.txt
  Database/Dictionary/src/test/resources/specialwords.txt
  Database/Dictionary/src/test/resources/validwords.txt
  Server Backend/package-lock.json
  Server Frontend/.project
  Server Frontend/core/.classpath
  Server Frontend/core/.project
  Server Frontend/core/.settings/org.eclipse.buildship.core.prefs
  Server Frontend/core/.settings/org.eclipse.jdt.core.prefs
  Server Frontend/desktop/.classpath
  Server Frontend/desktop/.project
  Server Frontend/desktop/.settings/org.eclipse.buildship.core.prefs
  Server Frontend/desktop/.settings/org.eclipse.jdt.core.prefs
Owners: @rzsupra17, @xmorton, @BrendanOswego

remove vscode generated classpath and project dot files
  Server Frontend/.project
  Server Frontend/core/.classpath
  Server Frontend/core/.project
  Server Frontend/core/.settings/org.eclipse.buildship.core.prefs
  Server Frontend/core/.settings/org.eclipse.jdt.core.prefs
  Server Frontend/desktop/.classpath
  Server Frontend/desktop/.project
  Server Frontend/desktop/.settings/org.eclipse.buildship.core.prefs
  Server Frontend/desktop/.settings/org.eclipse.jdt.core.prefs
Owners: @rzsupra17, @xmorton

add vscode dot folder to top level gitignore
  .gitignore
Owners: @rzsupra17, @xmorton, @BrendanOswego

set spaces to 2 in editor and format
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

add project dot file to gitignore; add test for DictionaryApplication
  .gitignore
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

revise test cases
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

revised test cases based on equivalence classes
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

add tests for GameDB
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
  Database/GameDB/src/test/resources/user.json
  Server Backend/package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

Some socket events added to AI
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Some socket events added to AI
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

gameboard fixes
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/assets/tilesAtlas3.png
  Server Frontend/core/assets/tilesAtlas4.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

gameboard fixes
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/assets/tilesAtlas3.png
  Server Frontend/core/assets/tilesAtlas4.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

fixing sockets,fixing ui
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/assets/tilesAtlas2.png
  Server Frontend/core/assets/tilesAtlas3.png
  Server Frontend/core/assets/tilesAtlas4.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

modularized tests
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

remove unnecessary user.json resource file for tests
  Database/GameDB/src/test/resources/user.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

add gold and green teams to before hook of tests
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

initialize teams in players tests as well
  Database/GameDB/src/test/java/com/csc480red/gamedb/PlayerTests.java
  Database/GameDB/src/test/java/com/csc480red/gamedb/TeamTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixing sockets,fixing ui
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
Owners: @rzsupra17, @xmorton

fixed updating players
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/desktop/build.gradle
Owners: @rzsupra17, @xmorton

added the assets hannah sent me
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Average Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Bonuses.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold FP Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Game Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Heading.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Longest Word.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Team Container.png
  Server Frontend/core/assets/StatsAssets/Gold Team/Gold Top Players.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Average Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Bonuses.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Cumulative Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Dirty Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green FP Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Game Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Heading.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Longest Word.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Oswego Words.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Team Container.png
  Server Frontend/core/assets/StatsAssets/Green Team/Green Top Players.png
  Server Frontend/core/assets/StatsAssets/MainScreen.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Most Frequent Players.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Oswebble Logo_.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Overall Frequently Played.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Dirty Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Highest Game Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Player Longest Word.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Players Highest Word Score.png
  Server Frontend/core/assets/StatsAssets/Player Stats/Top Overall Players.png
  Server Frontend/core/assets/StatsAssets/T-Test Sentence.png
Owners: @rzsupra17, @xmorton

fixed updating players
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/desktop/build.gradle
Owners: @rzsupra17, @xmorton

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
