Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

AI Update fix, Board Test added
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Got userStats connection working
  Server Backend/routes/stats-route.js
  Server Frontend/core/build.gradle
  Server Frontend/core/src/stats/StatsConnection.java
  Server Frontend/core/src/stats/StatsViewer.java
  Server Frontend/desktop/build.gradle
Owners: @rzsupra17, @xmorton

Changed package hierarchy
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/GraphActor.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
  Server Frontend/core/src/com/csc480/stats/JsonResponse.java
  Server Frontend/core/src/com/csc480/stats/Metadata.java
  Server Frontend/core/src/com/csc480/stats/StatsAdapter.java
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/teamData.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Tests hiccup fixed
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Team stats methods work
  Server Frontend/build.gradle
  Server Frontend/core/src/stats/JsonResponse.java
  Server Frontend/core/src/stats/Metadata.java
  Server Frontend/core/src/stats/StatsConnection.java
  Server Frontend/core/src/stats/StatsViewer.java
  Server Frontend/core/src/stats/teamData.java
Owners: @rzsupra17, @xmorton

Team stats methods work
  Server Frontend/build.gradle
  Server Frontend/core/src/stats/JsonResponse.java
  Server Frontend/core/src/stats/Metadata.java
  Server Frontend/core/src/stats/StatsConnection.java
  Server Frontend/core/src/stats/StatsViewer.java
  Server Frontend/core/src/stats/teamData.java
Owners: @rzsupra17, @xmorton

Changed package hierarchy
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/GraphActor.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
  Server Frontend/core/src/com/csc480/stats/JsonResponse.java
  Server Frontend/core/src/com/csc480/stats/Metadata.java
  Server Frontend/core/src/com/csc480/stats/StatsAdapter.java
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/teamData.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Tests hiccup fixed
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Got userStats connection working
  Server Backend/routes/stats-route.js
  Server Frontend/core/build.gradle
  Server Frontend/core/src/stats/StatsConnection.java
  Server Frontend/core/src/stats/StatsViewer.java
  Server Frontend/desktop/build.gradle
Owners: @rzsupra17, @xmorton

linted and added removal of tiles
  Frontend/models/game-board-model.js
Owners: @xmorton

continuing to fix word validation
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

debug messages and AI wait
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
Owners: @rzsupra17, @xmorton

Update GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

file path fix
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

References #188
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

remove addPositionDetails as server manager now handles this
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

added tests for extractLetters() and extractWords()
  Server Backend/tests/test.js
Owners: @rzsupra17

added color coded debugging messages
  Server Backend/helpers/Debug.js
Owners: @rzsupra17

revamping connections
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/package.json
Owners: @rzsupra17

added socket id
  Server Backend/entities/FrontendManager.js
Owners: @rzsupra17

removed unnecessary setters and getters
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

socket event changes and variable name changes
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

added callback to play function
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

changes and console messages
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

changed the way errors are handled in the gameboard
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

updateTurn and updateClientData updated with latest structure
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

dataUpdate now sent on client handshake with server
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Fixed move tile on board issue
  Frontend/models/game-board-model.js
Owners: @xmorton

Cleaned up commented out code
  Frontend/models/game-board-model.js
Owners: @xmorton

added updateState
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

reremoved the progres par updates
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

calculate score working properly as well as small changes added
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

added sendEvent event
  Server Backend/entities/FrontendManager.js
Owners: @rzsupra17

added functionality to return multiple words from valid play
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

added sendable data function
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

fixes and updates
  Server Backend/entities/ServerManager.js
  Server Backend/views/serverTest.html
Owners: @rzsupra17

fixed old words being calculated with new ones
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

all players updating state
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

all players updating state
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

fixed issue with calculations of plays
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
