Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

Added
  .github/CODEOWNERS
Owners: @rzsupra17, @xmorton, @BrendanOswego

Add README.md and LICENSE
  Database/Dictionary/LICENSE
  Database/Dictionary/README.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

Remove LICENSE
  Database/Dictionary/LICENSE
Owners: @rzsupra17, @xmorton, @BrendanOswego

Make word validation case insensitive
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryRestController.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/WordRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Change version info
  Database/Dictionary/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Update README.md
  Database/Dictionary/README.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

Added boilerplate files and structure
  Server Backend/.gitignore
  Server Backend/README.md
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/routes/index-route.js
  Server Backend/routes/stats-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
Owners: @rzsupra17

Renamed
  Assets/Concepts/Concept Set #2/Desktop-Laptop/1_WF_FrontPage.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/2_WF_FrontPage_2.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/3_WF_SignUpPage.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/4_WF_Gameboard.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/5_WF_Gameboard_2.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/6_WF_Gameboard_3.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/6_WF_Gameboard_3.psd
Owners: @rzsupra17, @xmorton, @BrendanOswego

added users array
  Server Backend/routes/users-route.js
Owners: @rzsupra17

no message
  Server Backend/routes/users-route.js
Owners: @rzsupra17

no message
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added get all users
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added get all users(json not a string)
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added updated tile design
  Assets/Concepts/Concept Set #2/Tiles&Racks_SPRITE.jpg
  Assets/Concepts/Concept Set #2/Tiles&Racks_SPRITE.psd
  Assets/Concepts/Concept Set #2/tilesSprites2.jpg
  Assets/Concepts/Concept Set #2/tilesSprites2.psd
Owners: @rzsupra17, @xmorton, @BrendanOswego

Added addUser
  users-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Added addUser
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Fixed comments, and this is for createUser, not addUser
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added doc about route itself
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Added the views folder and html file for user creating text field
  Server Backend/Views Folder/CreateUser.html
  package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

added user creation page
  Server Backend/views/login.html
Owners: @rzsupra17

added addUser.html
  Server Backend/views/addUser.html
Owners: @rzsupra17

removed login.html
  Server Backend/views/login.html
Owners: @rzsupra17

removed redundant files and unnecessary files
  Server Backend/Views Folder/CreateUser.html
  package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

render html routes
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added /deleteUser and added console outputs
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Added documentation
  Server Backend/routes/users-route.js
Owners: @rzsupra17

added
  Server Backend/views/allUsers.html
Owners: @rzsupra17

added bootstrap to make it look nicer
  Server Backend/views/addUser.html
  Server Backend/views/allUsers.html
Owners: @rzsupra17

fixed button and changed to submit
  Server Backend/views/addUser.html
Owners: @rzsupra17

fixed splice method, was not removing user
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Structured the front-end code in MVVM pattern; applied Vue.js to the code; Added the mouse drag and drop feature
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/view-models/vue.js
  Frontend/views/styles.css
Owners: @xmorton

Deleted vue.js file and linked html to vue CDN current latest version 2.5.13
  Frontend/index.html
  Frontend/view-models/vue.js
Owners: @xmorton

Revert "Frond-End Initial Commitment"
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Structured the front-end code in MVVM pattern; applied Vue.js to the code; Added the mouse drag and drop feature
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Broke application into Addapter and Game. Added packages for GUI and Engine. Created a basic screen example
  Server Frontend/core/src/com/mygdx/game/GUI/GameScreen.java
  Server Frontend/core/src/com/mygdx/game/GameAdapter.java
  Server Frontend/core/src/com/mygdx/game/MyGdxGame.java
  Server Frontend/core/src/com/mygdx/game/OswebbleGame.java
Owners: @rzsupra17, @xmorton

Removed Assets folder
  Assets/Concepts/Concept Set #1/JPGs/BoardConcept.jpg
  Assets/Concepts/Concept Set #1/JPGs/GUI_ConceptFull-.jpg
  Assets/Concepts/Concept Set #1/JPGs/GameConcept.jpg
  Assets/Concepts/Concept Set #1/JPGs/StastisticsConcept.jpg
  Assets/Concepts/Concept Set #1/JPGs/TileRacks_SPRITE-.jpg
  Assets/Concepts/Concept Set #1/JPGs/TilesConcept.jpg
  Assets/Concepts/Concept Set #1/JPGs/View_Concept copy.jpg
  Assets/Concepts/Concept Set #1/PSDs/StastisticsConcept.psd
  Assets/Concepts/Concept Set #1/PSDs/TileRacks_SPRITE.psd
  Assets/Concepts/Concept Set #1/PSDs/View_Concept.psd
  Assets/Concepts/Concept Set #2/DK_530_ColorPalettes.psd
  Assets/Concepts/Concept Set #2/Desktop-Laptop/1_WF_FrontPage.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/2_WF_FrontPage_2.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/3_WF_SignUpPage.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/4_WF_Gameboard.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/5_WF_Gameboard_2.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/6_WF_Gameboard_3.jpg
  Assets/Concepts/Concept Set #2/Desktop-Laptop/6_WF_Gameboard_3.psd
  Assets/Concepts/Concept Set #2/Mobile/Gameboard.pdf
  Assets/Concepts/Concept Set #2/Mobile/Leaderboard.pdf
  Assets/Concepts/Concept Set #2/Mobile/Statistics.pdf
  Assets/Concepts/Concept Set #2/Mobile/Welcome.pdf
  Assets/Concepts/Concept Set #2/Mobile/Word_played.pdf
  Assets/Concepts/Concept Set #2/Mobile/log_in.pdf
  Assets/Concepts/Concept Set #2/Mobile/signup_screen.pdf
  Assets/Concepts/Concept Set #2/OswegoTheme.jpg
  Assets/Concepts/Concept Set #2/Tiles&Racks_SPRITE.jpg
  Assets/Concepts/Concept Set #2/Tiles&Racks_SPRITE.psd
  Assets/Concepts/Concept Set #2/tilesSprites2.jpg
  Assets/Concepts/Concept Set #2/tilesSprites2.psd
  Assets/Wireframes/v1/board.png
  Assets/Wireframes/v1/laptop-tablet.png
  Assets/Wireframes/v1/mobile.png
Owners: @rzsupra17, @xmorton, @BrendanOswego

Renamed folders. Changed game title.
  Server Frontend/core/src/Csc480.gwt.xml
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Added tentative endpoint stubs
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Created Tile Class
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

added eslint formatting
  Server Backend/.eslintrc.json
  Server Backend/helpers/Gameboard.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/routes/index-route.js
  Server Backend/routes/stats-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
Owners: @rzsupra17
