Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

Add the ability to search through teams by name
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Change port numbers
  Database/Dictionary/src/main/resources/application.properties
  Database/GameDB/src/main/resources/application.properties
Owners: @rzsupra17, @xmorton, @BrendanOswego

Revert "Remove unnecessary comment"
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Revert "added letter DB"
  Database/GameDB/src/main/java/com/csc480red/gamedb/Score.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRestController.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoresDbApplication.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Revert "added letter DB"
  Database/GameDB/src/main/java/com/csc480red/gamedb/Score.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRestController.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoresDbApplication.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Revert "Remove unnecessary comment"
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Add the ability to search for a team by name
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Set Dictionary API to run on port 8090 and GameDB to run on port 8091
  Database/Dictionary/src/main/resources/application.properties
  Database/GameDB/src/main/resources/application.properties
Owners: @rzsupra17, @xmorton, @BrendanOswego

Implemented team stats endpoint
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

added score/letter DB
  Database/ScoresDB/.gitignore
  Database/ScoresDB/.mvn/wrapper/maven-wrapper.jar
  Database/ScoresDB/.mvn/wrapper/maven-wrapper.properties
  Database/ScoresDB/mvnw
  Database/ScoresDB/mvnw.cmd
  Database/ScoresDB/pom.xml
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/Score.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoreRepository.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoreRestController.java
  Database/ScoresDB/src/main/java/com/csc480red/scoresdb/ScoresDbApplication.java
  Database/ScoresDB/src/main/resources/application.properties
  Database/ScoresDB/src/test/java/com/csc480red/scoresdb/ScoresDbApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Move constants to global scope
  Frontend/index.html
  Frontend/models/game-board-model.js
Owners: @xmorton

Updated AI structure, fixed bugs, found more bugs
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Updated AI structure, fixed bugs, found more bugs
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Move constants to global scope
  Frontend/index.html
  Frontend/models/game-board-model.js
Owners: @xmorton

Expand game board size to 11x11; Add letters in initial tiles
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Fixed VerifyToken bug
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Fixed VerifyToken bug
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

updated to work with dictionary database
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated to work with dictionary database
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

still need to add tests for consumeInput() and wordIsValid()
  Server Backend/tests/test.js
Owners: @rzsupra17

added documentation
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

Documentation and fixes
  Server Backend/entities/Gameboard.js
  Server Backend/helpers/GameboardResponse.js
Owners: @rzsupra17

added HTML page for playWord
  Server Backend/views/playWord.html
Owners: @rzsupra17

More validation
  Server Backend/entities/Gameboard.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

added documentation
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

modularized functions
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

seperated board responsed into new file
  Server Backend/helpers/GameboardResponse.js
Owners: @rzsupra17

Expand game board size to 11x11; Add letters in initial tiles
  Frontend/models/game-board-model.js
Owners: @xmorton

Move constants to global scope
  Frontend/models/game-board-model.js
Owners: @xmorton

Fix the game board shrinking problem when placing tiles; Expand 1-step undo feature to every tile
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Expand game board size to 11x11; Add letters in initial tiles
  Frontend/models/game-board-model.js
Owners: @xmorton

Move constants to global scope
  Frontend/models/game-board-model.js
Owners: @xmorton

Fix the game board shrinking problem when placing tiles; Expand 1-step undo feature to every tile
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

In Progress
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/Model/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

added documentation
  Server Backend/entities/Player.js
Owners: @rzsupra17

fixed tests to work with new way of interacting with board
  Server Backend/tests/test.js
Owners: @rzsupra17

Tile information updated
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

added documentation
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

added trimWords() to remove whitespace from words
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

Moved methods
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Player.js
  Server Backend/helpers/GameboardResponse.js
  Server Backend/helpers/Override.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17
