Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

connect AI event
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/SocketManager.js
Owners: @rzsupra17

attempting removal of AI
  Server Backend/entities/GameManager.js
  Server Backend/entities/Player.js
  Server Backend/entities/SocketManager.js
  Server Backend/views/admin.html
Owners: @rzsupra17

debugging AI endgame
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

AI wave the right of way to players
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

AI connect
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

connectAI should work
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

updates to allow AI to play properly
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/SocketManager.js
  Server Backend/views/admin.html
Owners: @rzsupra17

fixed newGame event not removing game over layover
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

target debug fixes
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Beautified endgame alert
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

AI can play now
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/SocketManager.js
  Server Backend/package.json
  Server Backend/server.js
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/done.svg
  Server Backend/static/imgs/exchange.png
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/question.png
  Server Backend/static/imgs/shuffle.png
  Server Backend/static/imgs/small3-unsplash.jpg
  Server Backend/views/gameboard.html
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed turns not working properly when jumping in and out of game
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Fixed spacing of score
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Beautified login alert
  Server Backend/routes/main-route.js
  Server Backend/views/register.html
Owners: @rzsupra17

Beautified Help alert
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

added sweetalert as a js file on the server
  Server Backend/routes/main-route.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/static/js/sweetalert.min.js
  Server Backend/views/gameboard.html
  Server Backend/views/register.html
Owners: @rzsupra17

GUI updates
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

updated scss files to css latest
  Server Backend/static/scss/admin.scss
  Server Backend/static/scss/frontend_play_area.scss
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
Owners: @rzsupra17

minified files and fixed top area of game
  Server Backend/routes/main-route.js
  Server Backend/static/css/admin.css
  Server Backend/static/css/fontawesome-5.0.1.0.min.css
  Server Backend/static/css/gameboard.css
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/js/board.js
  Server Backend/static/js/board_view.js
  Server Backend/static/js/bootstrap-4.0.0.min.js
  Server Backend/static/js/jquery-3.3.1.min.js
  Server Backend/static/js/sweetalert.min.js
  Server Backend/static/js/tether-1.2.4.min.js
  Server Backend/static/js/vuejs-2.5.16.min.js
  Server Backend/static/min/css/admin.min.css
  Server Backend/static/min/css/bootstrap.min.css
  Server Backend/static/min/css/fontawesome.min.css
  Server Backend/static/min/css/gameboard.min.css
  Server Backend/static/min/css/login.min.css
  Server Backend/static/min/css/maps/admin.min.css.map
  Server Backend/static/min/css/maps/frontend_play_area.min.css.map
  Server Backend/static/min/css/maps/gameboard.min.css.map
  Server Backend/static/min/css/maps/login.min.css.map
  Server Backend/static/min/css/maps/register.min.css.map
  Server Backend/static/min/css/register.min.css
  Server Backend/static/min/js/board.min.js
  Server Backend/static/min/js/board_view.min.js
  Server Backend/static/min/js/jquery.min.js
  Server Backend/static/min/js/maps/board.min.js.map
  Server Backend/static/min/js/maps/board_view.min.js.map
  Server Backend/static/min/js/sweetalert.min.js
  Server Backend/static/min/js/vuejs.min.js
  Server Backend/static/scss/gameboard.scss
  Server Backend/views/admin.html
  Server Backend/views/gameboard.html
  Server Backend/views/login.html
  Server Backend/views/register.html
  gulpfile.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

moves stats server to regular server
  Server Backend/routes/stats-route.js
  Server Backend/server.js
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Stats Backend/.eslintrc.json
  Stats Backend/.gitignore
  Stats Backend/README.md
  Stats Backend/helpers/Override.js
  Stats Backend/package.json
  Stats Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixed margins
  Server Backend/static/css/gameboard.css
  Server Backend/static/min/css/gameboard.min.css
  Server Backend/static/min/css/maps/gameboard.min.css.map
  Server Backend/static/scss/gameboard.scss
Owners: @rzsupra17

small tweaks
  Server Backend/routes/main-route.js
  Server Backend/static/js/board.js
  Server Backend/static/min/js/board.min.js
  Server Backend/static/min/js/maps/board.min.js.map
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Add tests from previous branch with updates from dev
  Server Frontend/build.gradle
  Server Frontend/core/test/com/csc480/game/Engine/GameManagerTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/AITest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/BoardTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/PlayIdeaTest.java
  Server Frontend/core/test/com/csc480/game/Engine/WordVerificationTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/HandActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/TileActorTest.java
  Server Frontend/core/test/com/csc480/game/TestRunner.java
Owners: @rzsupra17, @xmorton

added how to run to README
  README.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
