Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

command line arguments, event rename
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

changed wordPlayed to boardUpdate
  Frontend/models/game-board-model.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/frontend_board_model.js
  Server Backend/views/gameboard.html
  Server Backend/views/socketTest.html
Owners: @xmorton, @rzsupra17

updated to now work with letter and word multipliers
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

updated tests to reflect newest code changes
  Server Backend/entities/Gameboard.js
  Server Backend/tests/test.js
Owners: @rzsupra17

updated tests to reflect newest code changes
  Server Backend/entities/Gameboard.js
  Server Backend/tests/test.js
Owners: @rzsupra17

updated to now work with letter and word multipliers
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

Fixed bug
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

Fixed bug
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

Added the tables to the StatsScreen create and render. Created font manager, HUD, and StatsTables classes to the Actors package.
  Server Frontend/core/assets/StatsAssets/statsBackground.png
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/FontManager.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

cleaning up and refactoring
  Server Backend/entities/Bag.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Debug.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/Override.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
  Server Backend/helpers/Socket.js
  Server Backend/helpers/VerifyTokens.js
Owners: @rzsupra17

added removeAI event
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

fix
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

gave AI names
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

re/dis connecting AI
  Server Frontend/core/assets/tilesAtlas.atlas
  Server Frontend/core/assets/tilesAtlas.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

changed waitTime
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

AI waits after it finds plays
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Changed to spaces
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/LetterDistributor.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/package.json
  Server Backend/static/frontend_board_model.js
  Server Backend/static/frontend_board_view_model.js
Owners: @rzsupra17

more fixes on hand updates and frontend
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/frontend_board_model.js
Owners: @rzsupra17

hands now come from the server. AI can pass turn. Cleaner Event Messages. Player's tiles hidden
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

protoype gameOver event
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/frontend_board_model.js
Owners: @rzsupra17

Games can now end, and other gui fixes
  Server Frontend/core/assets/board.png
  Server Frontend/core/assets/data/words.txt
  Server Frontend/core/assets/goldBar.png
  Server Frontend/core/assets/greenBar.png
  Server Frontend/core/assets/skin/OswegoSkin/Courier.fnt
  Server Frontend/core/assets/skin/OswegoSkin/Courier1.fnt
  Server Frontend/core/assets/skin/OswegoSkin/OswebbleSkin.atlas
  Server Frontend/core/assets/skin/OswegoSkin/OswebbleSkin.json
  Server Frontend/core/assets/skin/OswegoSkin/OswebbleSkin.png
  Server Frontend/core/assets/skin/OswegoSkin/OswebbleSkin2.png
  Server Frontend/core/assets/skin/OswegoSkin/OswebbleSkin3.png
  Server Frontend/core/assets/skin/hannah-export.fnt
  Server Frontend/core/assets/skin/oswegoSkin.atlas
  Server Frontend/core/assets/skin/oswegoSkin.json
  Server Frontend/core/assets/skin/oswegoSkin.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Fixed the missing tile bug which happens after a player places an invalid word
  Server Backend/static/frontend_board_model.js
  Server Backend/static/frontend_board_view_model.js
  Server Backend/views/frontend_play_area.html
Owners: @rzsupra17

added documentation
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

updated login and register pages
  Server Backend/routes/index-route.js
  Server Backend/static/css/bootstrap-4.0.0.min.css
  Server Backend/static/css/fontawesome-5.0.1.0.min.css
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/imgs/logo.png
  Server Backend/static/js/bootstrap-4.0.0.min.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/static/js/frontend_board_view_model.js
  Server Backend/static/js/jquery-3.3.1.min.js
  Server Backend/static/js/socketio-2.0.3.min.js
  Server Backend/static/js/tether-1.2.4.min.js
  Server Backend/static/js/vuejs-2.5.16.min.js
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/static/webfonts/fa-brands-400.eot
  Server Backend/static/webfonts/fa-brands-400.svg
  Server Backend/static/webfonts/fa-brands-400.ttf
  Server Backend/static/webfonts/fa-brands-400.woff
  Server Backend/static/webfonts/fa-brands-400.woff2
  Server Backend/static/webfonts/fa-regular-400.eot
  Server Backend/static/webfonts/fa-regular-400.svg
  Server Backend/static/webfonts/fa-regular-400.ttf
  Server Backend/static/webfonts/fa-regular-400.woff
  Server Backend/static/webfonts/fa-regular-400.woff2
  Server Backend/static/webfonts/fa-solid-900.eot
  Server Backend/static/webfonts/fa-solid-900.svg
  Server Backend/static/webfonts/fa-solid-900.ttf
  Server Backend/static/webfonts/fa-solid-900.woff
  Server Backend/static/webfonts/fa-solid-900.woff2
  Server Backend/views/frontend_play_area.html
  Server Backend/views/gameboard.html
  Server Backend/views/login.html
  Server Backend/views/playWord.html
  Server Backend/views/register.html
  Server Backend/views/serverTest.html
  Server Backend/views/socketTest.html
Owners: @rzsupra17

removed codecov for now
  .travis.yml
  Server Backend/package.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated console statements and other small things
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
Owners: @rzsupra17

removed unnecessary variables and renamed variables
  Server Backend/entities/Tile.js
Owners: @rzsupra17

removed game route and renamed index route
  Server Backend/routes/game-route.js
  Server Backend/routes/index-route.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17

added newGame event and reseting of the game
  Server Backend/entities/GameManager.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/server.js
Owners: @rzsupra17

added sockets to login page
  Server Backend/routes/main-route.js
  Server Backend/views/login.html
Owners: @rzsupra17

added mac address grabbing
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/server.js
Owners: @rzsupra17

updated response data
  Server Backend/entities/GameManager.js
  Server Backend/helpers/ResponseHandler.js
Owners: @rzsupra17

continuation of refactoring
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

refactored errors into function
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

added Blogger Sans font to pagees
  .gitignore
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/static/webfonts/b-sans-bold.otf
  Server Backend/static/webfonts/b-sans.otf
  gulpfile.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

continuing to refactor
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Debug.js
  Server Backend/helpers/Logger.js
Owners: @rzsupra17

Automatically compute statistics
  Database/GameDB/pom.xml
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/WordFrequency.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixed bug with removing AI and adding player
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

removed codecov badge
  README.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
