Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

continuing update, can now show joined and left players
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/static/js/socketio-2.0.3.min.js
  Server Backend/views/gameboard.html
  Server Backend/views/login.html
Owners: @rzsupra17

more JSON fixes
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

gm parse fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

forgot breaks
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

moved boardUpdate to dataUpdate
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed gold v yellow GM updates board in updateState
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

Fixes #306
  Server Backend/static/css/frontend_play_area.css
Owners: @rzsupra17

commented AI and removed defunct code
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed stats page shifting up problem
  Server Frontend/core/src/com/csc480/stats/GUI/StatsScreen.java
Owners: @rzsupra17, @xmorton

added libgdx compatible junit testing
  Server Frontend/build.gradle
  Server Frontend/core/test/com/csc480/game/Engine/GameManagerTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/AITest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/BoardTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/PlayIdeaTest.java
  Server Frontend/core/test/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Fixing playTime
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

re added the GUI update fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

WordVerification and Board tests added
  Server Frontend/core/test/com/csc480/game/Engine/GameManagerTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/BoardTest.java
  Server Frontend/core/test/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

updates
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/ScoreCalculator.js
Owners: @rzsupra17

now sends board with dataUpdate event
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

more updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/Tile.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
Owners: @rzsupra17

.
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

.
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

RedundancyManager at last
  Server Backend/helpers/DB.js
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
  build.bat
  buildWINDOWS.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Extractor.js
Owners: @rzsupra17

Lint and fixed mobile GUI bug
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

fixed connection order
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

ai update hands on turn
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/helpers/Extractor.js
Owners: @rzsupra17

Updated board structure with help button/timer
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/gray-bg.jpg
  Server Backend/static/imgs/question.png
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Updated board structure with help button/timer
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/question.png
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

connected with AI
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

Admin.html view to websocket
  Server Backend/entities/ServerManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/admin.html
Owners: @rzsupra17

added background and info icon
  Server Backend/static/css/frontend_play_area.css
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Fixes #201
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/admin.html
Owners: @rzsupra17

Fixes #290
  Server Frontend/core/assets/images/tilesAtlas.atlas
  Server Frontend/core/assets/images/tilesAtlas2.png
  Server Frontend/core/assets/images/tilesAtlas3.png
  Server Frontend/core/assets/skin/OsweebleSkinFinal.json
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

replaced AI's word list with a smaller 15k
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Fixes #276, Fixes #293, Fixes #299
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Fixes #330
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

send swap event
  Server Backend/static/js/frontend_board_model.js
  Server Frontend/build.gradle
Owners: @rzsupra17, @xmorton

removed unnecessary socket event
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

References #334
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

removed garbage text
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
Owners: @rzsupra17, @xmorton

forgot to save. im tired
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
Owners: @rzsupra17, @xmorton

fixed GUI crash...AGAIN
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton
