Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

eslinted
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

t -> Tile for object
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

Created a proof of concept validation system
  Server Frontend/core/src/com/csc480/game/Engine/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Placement.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
Owners: @rzsupra17, @xmorton

format to eslint specifications
  Server Backend/helpers/Gameboard.js
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

added tests
  Server Backend/Tests/test.js
Owners: @rzsupra17

Added more Testing
  Server Backend/Tests/test.js
  Server Backend/package-lock.json
  Server Backend/package.json
Owners: @rzsupra17

added rule
  Server Backend/.eslintrc.json
Owners: @rzsupra17

Changed naming
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

Endpoint stubs with comments.
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Added screen tap and 1-step undo features to move tiles
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

added travis for server backend
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

removed Gamboard for now
  Server Backend/routes/game-route.js
Owners: @rzsupra17

added linter ci for auto checking code style
  .stickler.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

added documentation
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

documentation
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

added build badge
  README.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

added eslint auto fixer
  .stickler.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed Stickler
  .stickler.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Made backbone for most endpoints
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Merged somethings
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Added more tests
  Server Backend/Tests/test.js
Owners: @rzsupra17

fixed npm report not actually running tests to cover
  Server Backend/package-lock.json
  Server Backend/package.json
Owners: @rzsupra17

Added methods
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

removed setters that were not needed
  Server Backend/helpers/Tile.js
Owners: @rzsupra17

added documentation
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

Final board and tiles
  Frontend/models/AllTiles.png
Owners: @xmorton

Made requested changes
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Finalized Monitor 1 layout
  Frontend/models/Monitor1_FinalLayout.png
Owners: @xmorton

added lint option
  Server Backend/package.json
Owners: @rzsupra17

added PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rzsupra17, @xmorton, @BrendanOswego

added gameboard route for debugging at /api/gameBoard
  Server Backend/routes/game-route.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

added webhook notification
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

fixed webhook and changed itt
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

testing
  .travis.yml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Maintenance
  Server Backend/.eslintrc.json
  Server Backend/Tests/test.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/tests/setup.js
  package-lock.json
Owners: @rzsupra17, @xmorton, @BrendanOswego

Fixes #81
  Server Backend/tests/test.js
Owners: @rzsupra17

added validation test
  Server Backend/tests/test.js
Owners: @rzsupra17

added validation method
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

added cross section validation test
  Server Backend/tests/test.js
Owners: @rzsupra17

added test and changed gameboard size to 11 in tests
  Server Backend/tests/test.js
Owners: @rzsupra17

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
