Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

Added documentation and trimmed code
  Server Backend/helpers/Gameboard.js
Owners: @rzsupra17

Added documentation. Added the hashmap for word validation. Added a basic socket manager template.
  Server Frontend/build.gradle
  Server Frontend/core/assets/words.txt
  Server Frontend/core/src/com/csc480/game/Engine/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Placement.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

added bad dictionary
  Database/BadWordDictionary/.gitignore
  Database/BadWordDictionary/mvnw
  Database/BadWordDictionary/mvnw.cmd
  Database/BadWordDictionary/pom.xml
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BWDictionaryController.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/BwDictionaryApplication.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/Word.java
  Database/BadWordDictionary/src/main/java/com/csc480/bwdictionary/WordRepository.java
  Database/BadWordDictionary/src/main/resources/invalid.txt
  Database/BadWordDictionary/src/test/java/com/csc480red/bwdictionary/BwDictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

New stats endpoints
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

fixed linting issue
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

New stats endpoints
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

fixed linting issue
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Add the GameDB API
  Database/GameDB/.gitignore
  Database/GameDB/.mvn/wrapper/maven-wrapper.jar
  Database/GameDB/.mvn/wrapper/maven-wrapper.properties
  Database/GameDB/mvnw
  Database/GameDB/mvnw.cmd
  Database/GameDB/pom.xml
  Database/GameDB/src/main/java/com/csc480red/gamedb/GameDbApplication.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWordRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
  Database/GameDB/src/main/resources/application.properties
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added documentation
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Add the GameDB API
  Database/GameDB/.gitignore
  Database/GameDB/.mvn/wrapper/maven-wrapper.jar
  Database/GameDB/.mvn/wrapper/maven-wrapper.properties
  Database/GameDB/mvnw
  Database/GameDB/mvnw.cmd
  Database/GameDB/pom.xml
  Database/GameDB/src/main/java/com/csc480red/gamedb/GameDbApplication.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWordRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
  Database/GameDB/src/main/resources/application.properties
  Database/GameDB/src/test/java/com/csc480red/gamedb/GameDbApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added documentation
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added standardization
  Server Backend/helpers/Override.js
  Server Backend/server.js
Owners: @rzsupra17

Standardizing JSON responses
  Server Backend/helpers/Override.js
  Server Backend/server.js
Owners: @rzsupra17

Revert "Json standardization"
  Server Backend/helpers/Override.js
  Server Backend/server.js
Owners: @rzsupra17

Many Changes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Placement.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Implemented token functionality
  Server Backend/config.js
  Server Backend/helpers/VerifyTokens.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Fixed getUser endpoint
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Added more
  Server Backend/helpers/Override.js
  Server Backend/routes/users-route.js
Owners: @rzsupra17

condensed 400 and 500 error code responses into one
  Server Backend/helpers/Override.js
  Server Backend/routes/users-route.js
Owners: @rzsupra17

changed error messages to reflect new pipeline
  Server Backend/helpers/VerifyTokens.js
Owners: @rzsupra17

Implemented token functionality
  Server Backend/config.js
  Server Backend/helpers/VerifyTokens.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

condensed 400 and 500 error code responses into one
  Server Backend/helpers/Override.js
  Server Backend/routes/users-route.js
Owners: @rzsupra17

Fixed getUser endpoint
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/users-route.js
Owners: @rzsupra17

changed error messages to reflect new pipeline
  Server Backend/helpers/VerifyTokens.js
Owners: @rzsupra17

Added more
  Server Backend/helpers/Override.js
  Server Backend/routes/users-route.js
Owners: @rzsupra17

updated for java tests
  .travis.yml
  Database/BadWordDictionary/mvnw
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated for java tests
  .travis.yml
  Database/BadWordDictionary/mvnw
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated tests to work with new consumeInput() method
  Server Backend/helpers/Gameboard.js
  Server Backend/tests/test.js
Owners: @rzsupra17

Documentation and validation
  Server Backend/helpers/Gameboard.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

Return from placeWord
  Server Backend/helpers/Gameboard.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

added test for duplicate word placement
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17

added /game/ to resource URL
  Server Backend/server.js
Owners: @rzsupra17

Documentation and validation
  Server Backend/helpers/Gameboard.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

added test for duplicate word placement
  Server Backend/package.json
  Server Backend/tests/test.js
Owners: @rzsupra17

added /game/ to resource URL
  Server Backend/server.js
Owners: @rzsupra17

Return from placeWord
  Server Backend/helpers/Gameboard.js
  Server Backend/routes/game-route.js
Owners: @rzsupra17

updated tests to work with new consumeInput() method
  Server Backend/helpers/Gameboard.js
  Server Backend/tests/test.js
Owners: @rzsupra17

added login page proof of concept connection with engine
  Frontend/login/assets/finalboard.jpg
  Frontend/login/assets/oswebblelogo.jpg
  Frontend/login/login.html
  Frontend/login/teamselection.html
Owners: @xmorton

Updated stats endpoints
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Integrated frontend
  Frontend/login/login.html
  Frontend/login/teamselection.html
  Server Backend/routes/game-route.js
  Server Backend/routes/test-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
Owners: @xmorton, @rzsupra17

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
