Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

now sends board with dataUpdate event
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

re added the GUI update fix
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

.
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
Owners: @rzsupra17, @xmorton

ai update hands on turn
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

RedundancyManager at last
  Server Backend/helpers/DB.js
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
  build.bat
  buildWINDOWS.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

WordVerification and Board tests added
  Server Frontend/core/test/com/csc480/game/Engine/GameManagerTest.java
  Server Frontend/core/test/com/csc480/game/Engine/Model/BoardTest.java
  Server Frontend/core/test/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Fixes #201
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/admin.html
Owners: @rzsupra17

.
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Lint and fixed mobile GUI bug
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Fixes #290
  Server Frontend/core/assets/images/tilesAtlas.atlas
  Server Frontend/core/assets/images/tilesAtlas2.png
  Server Frontend/core/assets/images/tilesAtlas3.png
  Server Frontend/core/assets/skin/OsweebleSkinFinal.json
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameOverActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/InfoPanelActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Admin.html view to websocket
  Server Backend/entities/ServerManager.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/admin.html
Owners: @rzsupra17

more updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/entities/Tile.js
  Server Backend/helpers/Extractor.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
Owners: @rzsupra17

added smaller background image to gameboard.html
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/small3-unsplash.jpg
Owners: @rzsupra17

fixed potential crash
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

fixed GUI crash...AGAIN
  Server Frontend/core/assets/LtoS15kWordCorpus.txt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

AI prints debug stuff in debug mode
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

AI only prints stacktrace in debug mode
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Update special word count
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
Owners: @rzsupra17

prints only in debug
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Testing of Red GUI
  Server Frontend/build.gradle
  Server Frontend/core/test/com/csc480/game/GUI/Actors/GameBoardActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/HandActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/TileActorTest.java
Owners: @rzsupra17, @xmorton

Fixing a HandActor test
  Server Frontend/core/test/com/csc480/game/GUI/Actors/HandActorTest.java
Owners: @rzsupra17, @xmorton

working to make AI more stupidererer
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Added forgotten test
  Server Frontend/core/test/com/csc480/game/GUI/GameScreenTest.java
Owners: @rzsupra17, @xmorton

update xavier Server Frontend.GUI tests to pass
  Server Frontend/build.gradle
  Server Frontend/core/test/com/csc480/game/GUI/Actors/GameBoardActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/HandActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/Actors/TileActorTest.java
  Server Frontend/core/test/com/csc480/game/GUI/GameScreenTest.java
  Server Frontend/core/test/com/csc480/game/TestRunner.java
  Server Frontend/gradle/wrapper/gradle-wrapper.jar
  Server Frontend/gradle/wrapper/gradle-wrapper.properties
  Server Frontend/gradlew
  Server Frontend/gradlew.bat
Owners: @rzsupra17, @xmorton

Fixes Reliability Crash. Updated AI generation for backend
  Server Frontend/core/assets/aidebug.txt
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

remove catch that was not removed when rebasing
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

add changes from websockets to Engine.Model.AI, Engine.GameManager, GUI.GameScreen
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

target debug fixes
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Beautified endgame alert
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Fixed spacing of score
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Beautified login alert
  Server Backend/routes/main-route.js
  Server Backend/views/register.html
Owners: @rzsupra17

Beautified Help alert
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

fixed JSON errors
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

should fix #305 #316
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

initial changes, more to come
  Server Frontend/build.gradle
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

WebSocket readability
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

actually allowed connection closing of AI
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Clear mobile board on gameOver
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

websocket connection fixes
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

WebSocket Implemented in FrontEnd Board Model
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
