Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

Moved getNewLetters() to PlayerManager
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/tests/test.js
Owners: @rzsupra17

changed null to "null" in 2D array
  Frontend/models/game-board-model.js
Owners: @xmorton

Sorry
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Changed "null" to null
  Frontend/models/game-board-model.js
Owners: @xmorton

small updates
  Server Backend/entities/ServerManager.js
  Server Statistics Frontend/README.md
Owners: @rzsupra17, @xmorton

board isnt a string now
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
Owners: @rzsupra17, @xmorton

Sorry
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

continuing fixes
  Server Backend/entities/FrontendManager.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/package.json
Owners: @rzsupra17

fixing up to work with sockets
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

added board validation
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Moved getNewLetters() to PlayerManager
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/tests/test.js
Owners: @rzsupra17

fixes for validation and wordPlayed evemt
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
Owners: @rzsupra17

plz
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Added board validation
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/socketTest.html
Owners: @rzsupra17

some fixes, some more bugs
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

null is now really null
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

more small fixes
  Server Backend/entities/GameManager.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

parsing boardstate AGAIN
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

other clients now update properly, still need to work with otehr validations
  Server Backend/entities/GameManager.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

i think its fixed
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

parsing boardstate AGAIN
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

i think its fixed
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
Owners: @rzsupra17, @xmorton

fixing state
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
Owners: @rzsupra17, @xmorton

resize fix
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
Owners: @rzsupra17, @xmorton

resize fix
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardTable.java
Owners: @rzsupra17, @xmorton

continuing fixes
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

bandaid fix
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/entities/ServerManager.js
Owners: @rzsupra17

most recent
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

most recent
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

fixed bug with game manager not changing turn on valid play
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

State change fix, char tile array parsing
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

state fixes
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Full communication with engine
  Frontend/models/game-board-model.js
Owners: @xmorton

Full communication with engine
  Frontend/models/game-board-model.js
Owners: @xmorton

added test case, debugging
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

added test case, debugging
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton

Found the missing docs
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

latest changes still with bugs
  Frontend/models/game-board-model.js
  Server Backend/entities/GameManager.js
  Server Backend/entities/ServerManager.js
Owners: @xmorton, @rzsupra17

Found the missing docs
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Temp changes for landon
  Frontend/models/game-board-model.js
Owners: @xmorton
