Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

documentation
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayedWord.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Player.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/Team.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed unnecessary dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Fixed deprecated default value bug
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Added dependency for Dictionary
  Database/Dictionary/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

attempting db integration and removal of files
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/config.js
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/logo.png
  Server Backend/views/login.html
  Server Backend/views/register.html
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

changed double letter to triple word
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

changes
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated
  Server Backend/package.json
Owners: @rzsupra17

fixed frontend lagging
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
Owners: @rzsupra17, @xmorton

Fixed the issue: can't play tiles after a play
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Fixed the bug: After playing a few rounds, the tiles would turn grey when they were being played.
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Fixed issue where placed tiles would remain on board after exchange
  Server Backend/static/js/frontend_board_model.js
Owners: @rzsupra17

Dependencies and deprecated bug fix
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  Server Backend/routes/main-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Removed duplicate dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

attempting db integration and removal of files
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/config.js
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/logo.png
  Server Backend/views/login.html
  Server Backend/views/register.html
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Dependencies and deprecated bug fix
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  Server Backend/routes/main-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Removed duplicate dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

changed double letter to triple word
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

updated
  Server Backend/package.json
Owners: @rzsupra17

changes
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Unique macs only
  Server Backend/entities/GameManager.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

AI play finding timeout after 10 secs
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  untitled/src/Test.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

removed mess up
  untitled/src/Test.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added new logo
  Server Backend/static/imgs/logo-min.png
Owners: @rzsupra17

changed to new skin and reajusted tables to fit new font
  Server Frontend/core/assets/skin/BorderedRectangle.png
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/FontManager.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
Owners: @rzsupra17, @xmorton

New endpoints for new stats
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/TeamData.java
  Server Frontend/core/src/com/csc480/stats/WordData.java
  Stats Backend/routes/stats-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

change skin and adjusted sizing and positions..again..
  Server Frontend/core/assets/skin/BorderedRectangle.png
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/FontManager.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/StatsTables.java
Owners: @rzsupra17, @xmorton

Refactored some JSON parsing
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/JsonResponse.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/Metadata.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/TeamData.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/WordData.java
Owners: @rzsupra17, @xmorton

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

changed double letter to triple word
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

updated
  Server Backend/package.json
Owners: @rzsupra17

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Dependencies and deprecated bug fix
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  Server Backend/routes/main-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

changes
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

Removed duplicate dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

attempting db integration and removal of files
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/config.js
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/logo.png
  Server Backend/views/login.html
  Server Backend/views/register.html
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
