Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton

login now redirects to gameboard
  Frontend/login/login.html
Owners: @xmorton

working on overhauling the libgdx UI to use scene2D
  Server Frontend/core/assets/POCBoard.tmx
  Server Frontend/core/assets/POCBoardTileset.tsx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/assets/spriteAtlas.atlas
  Server Frontend/core/assets/spriteAtlas.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/SocketManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

login now redirects to gameboard
  Frontend/login/login.html
Owners: @xmorton

added login page proof of concept connection with engine
  Frontend/login/assets/finalboard.jpg
  Frontend/login/assets/oswebblelogo.jpg
  Frontend/login/login.html
  Frontend/login/teamselection.html
Owners: @xmorton

Integrated frontend
  Frontend/login/login.html
  Frontend/login/teamselection.html
  Server Backend/routes/game-route.js
  Server Backend/routes/test-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
Owners: @xmorton, @rzsupra17

Updated stats endpoints
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

GUI Overhaul
  Server Frontend/core/assets/BoardTilemap.tmx
  Server Frontend/core/assets/BoardTileset.tsx
  Server Frontend/core/assets/POCBoard.tmx
  Server Frontend/core/assets/POCBoardTileset.tsx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/badlogic.jpg
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/assets/rack.jpg
  Server Frontend/core/assets/spriteAtlas.atlas
  Server Frontend/core/assets/spriteAtlas.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

GUI Overhaul
  Server Frontend/core/assets/BoardTilemap.tmx
  Server Frontend/core/assets/BoardTileset.tsx
  Server Frontend/core/assets/POCBoard.tmx
  Server Frontend/core/assets/POCBoardTileset.tsx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/badlogic.jpg
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/assets/rack.jpg
  Server Frontend/core/assets/spriteAtlas.atlas
  Server Frontend/core/assets/spriteAtlas.png
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Board.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/Player.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/TileData.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingPOCScreen.java
  Server Frontend/core/src/com/csc480/game/Engine/TextureManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/GameBoardActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
  Server Frontend/core/src/com/csc480/game/GameAdapter.java
  Server Frontend/core/src/com/csc480/game/OswebbleGame.java
  Server Frontend/desktop/src/com/csc480/game/desktop/DesktopLauncher.java
Owners: @rzsupra17, @xmorton

Add the ability to search players by username
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Add the ability to search players by username
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated signature
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/GameScreen.java
Owners: @rzsupra17, @xmorton

Added player stats endpoint
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Reverted package.json and package-lock.json
  Server Backend/package-lock.json
  Server Backend/package.json
Owners: @rzsupra17

Linted stats code
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Modify Dictionary API to validate a list of words and also show if they are bad and if they are special
  Database/Dictionary/README.md
  Database/Dictionary/src/main/java/com/csc480red/dictionary/BadWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/BadWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryApplication.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryRestController.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/SpecialWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/SpecialWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidateResult.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/Word.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/WordRepository.java
  Database/Dictionary/src/main/resources/badwords.txt
  Database/Dictionary/src/main/resources/specialwords.txt
  Database/Dictionary/src/main/resources/validwords.txt
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Update version number
  Database/Dictionary/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Modify Dictionary API to validate a list of words and also show if they are bad and if they are special
  Database/Dictionary/README.md
  Database/Dictionary/src/main/java/com/csc480red/dictionary/BadWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/BadWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryApplication.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryRestController.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/SpecialWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/SpecialWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidWord.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidWordRepository.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/ValidateResult.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/Word.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/WordRepository.java
  Database/Dictionary/src/main/resources/badwords.txt
  Database/Dictionary/src/main/resources/specialwords.txt
  Database/Dictionary/src/main/resources/validwords.txt
  Database/Dictionary/src/test/java/com/csc480red/dictionary/DictionaryApplicationTests.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Update version number
  Database/Dictionary/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

Moved player endpoint logic to separate method
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Expand game board size to 11x11; Add letters in initial tiles
  Frontend/index.html
  Frontend/models/game-board-model.js
  Frontend/resources/images/tile.svg
  Frontend/view-models/game-board-view-model.js
  Frontend/views/styles.css
Owners: @xmorton

Changed database port
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Reverted package.json and package-lock.json
  Server Backend/package-lock.json
  Server Backend/package.json
Owners: @rzsupra17

Moved player endpoint logic to separate method
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Added player stats endpoint
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Changed database port
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Linted stats code
  Server Backend/routes/stats-route.js
Owners: @rzsupra17

Update and fixes
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
  Server Backend/helpers/Gameboard.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/tests/test.js
Owners: @rzsupra17

Update and fixes
  Server Backend/entities/Gameboard.js
  Server Backend/entities/Tile.js
  Server Backend/helpers/Gameboard.js
  Server Backend/package-lock.json
  Server Backend/package.json
  Server Backend/routes/game-route.js
  Server Backend/tests/test.js
Owners: @rzsupra17

Added regex template generator
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Added documentation, removed unused code
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Updated TileMaps, PlayIdea, and Gamemanager
  Server Frontend/core/assets/BoardTilemap.tmx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
Owners: @rzsupra17, @xmorton

Updated TileMaps, PlayIdea, and Gamemanager
  Server Frontend/core/assets/BoardTilemap.tmx
  Server Frontend/core/assets/POCboardTiles.png
  Server Frontend/core/assets/identifiersHelper.tmx
  Server Frontend/core/src/com/csc480/game/Engine/GameManager.java
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/HandActor.java
  Server Frontend/core/src/com/csc480/game/GUI/Actors/TileActor.java
Owners: @rzsupra17, @xmorton

Add the ability to search through teams by name
  Database/GameDB/src/main/java/com/csc480red/gamedb/TeamRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Deleted Placement parameter from: WordVerification.getWordsFromHand and TestingInputProcessor.keyTyped; Added: IDToLetter in TiledUtils and a framework to AI.FindPlays
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

Deleted Placement parameter from: WordVerification.getWordsFromHand and TestingInputProcessor.keyTyped; Added: IDToLetter in TiledUtils and a framework to AI.FindPlays
  Server Frontend/core/src/com/csc480/game/Engine/Model/AI.java
  Server Frontend/core/src/com/csc480/game/Engine/TestingInputProcessor.java
  Server Frontend/core/src/com/csc480/game/Engine/TiledUtils.java
  Server Frontend/core/src/com/csc480/game/Engine/WordVerification.java
Owners: @rzsupra17, @xmorton

added letter DB
  Database/GameDB/src/main/java/com/csc480red/gamedb/Score.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRestController.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoresDbApplication.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Change port numbers
  Database/Dictionary/src/main/resources/application.properties
  Database/GameDB/src/main/resources/application.properties
Owners: @rzsupra17, @xmorton, @BrendanOswego

Remove unnecessary comment
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

added letter DB
  Database/GameDB/src/main/java/com/csc480red/gamedb/Score.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRestController.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoresDbApplication.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Remove unnecessary comment
  Database/GameDB/src/main/java/com/csc480red/gamedb/ScoreRepository.java
Owners: @rzsupra17, @xmorton, @BrendanOswego
