Repository CSC480-18S/Red-Team, changes with the owners that CODEOWNERS names for each.
All owners: @rzsupra17, @xmorton, @BrendanOswego

attempting db integration and removal of files
  Server Backend/entities/GameManager.js
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

more updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
  Server Backend/helpers/VerifyTokens.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17

Unique macs only
  Server Backend/entities/GameManager.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

added new logo
  Server Backend/static/imgs/logo-min.png
Owners: @rzsupra17

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Added RedundancyManager system
  Server Backend/helpers/DB.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
  build.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

Added button icons, changed button color, and background color
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/imgs/done.svg
  Server Backend/static/imgs/exchange.png
  Server Backend/static/imgs/shuffle.png
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Finished JSON parsing
  Server Frontend/core/src/com/csc480/stats/StatsAdapter.java
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/JsonResponse2.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/JsonResponse3.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/JsonResponse4.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/JsonResponse5.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/NestedData.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/NestedData2.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/NestedData3.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/Player.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/PlayerData.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/Score.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/ScoreData.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/Word.java
  Server Frontend/core/src/com/csc480/stats/jsonObjects/Words.java
Owners: @rzsupra17, @xmorton

Extract file I/O to FileManager
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
Owners: @rzsupra17

updated rules and updated logo
  Server Backend/static/imgs/logo-min.png
  Server Backend/views/register.html
Owners: @rzsupra17

Add Database Authentication
  Database/Dictionary/pom.xml
  Database/Dictionary/src/main/java/com/csc480red/dictionary/DictionaryBasicAuthEntryPoint.java
  Database/Dictionary/src/main/java/com/csc480red/dictionary/SecurityConfigurerAdapter.java
  Database/Dictionary/src/main/resources/application.properties
  Database/GameDB/pom.xml
  Database/GameDB/src/main/java/com/csc480red/gamedb/GameBasicAuthEntryPoint.java
  Database/GameDB/src/main/java/com/csc480red/gamedb/SecurityConfigurerAdapter.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

Implemented T-test
  Server Frontend/core/src/com/csc480/stats/StatsConnection.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
Owners: @rzsupra17, @xmorton

connected stats back and frontend, commented out statsviewer printlns
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
  Server Frontend/core/src/com/csc480/stats/StatsViewer.java
Owners: @rzsupra17, @xmorton

if conditional fixes
  Server Frontend/core/src/com/csc480/stats/GUI/Actors/Hud.java
Owners: @rzsupra17, @xmorton

updated styling
  Server Backend/static/css/frontend_play_area.css
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/gameboard.html
Owners: @rzsupra17

Logger
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/Logger.js
  Server Backend/helpers/RedundancyManager.js
Owners: @rzsupra17

added new logo
  Server Backend/static/imgs/logo-min.png
Owners: @rzsupra17

added ability to search for a team by user
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

changed double letter to triple word
  Server Backend/entities/Gameboard.js
Owners: @rzsupra17

attempting db integration and removal of files
  Server Backend/entities/GameManager.js
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

updated
  Server Backend/package.json
Owners: @rzsupra17

Unique macs only
  Server Backend/entities/GameManager.js
  Server Backend/routes/main-route.js
Owners: @rzsupra17

Updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/static/css/login.css
  Server Backend/static/css/register.css
  Server Backend/static/scss/login.scss
  Server Backend/static/scss/register.scss
  Server Backend/views/gameboard.html
  Server Backend/views/login.html
Owners: @rzsupra17

Added RedundancyManager system
  Server Backend/helpers/DB.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
  build.bat
Owners: @rzsupra17, @xmorton, @BrendanOswego

updated rules and updated logo
  Server Backend/static/imgs/logo-min.png
  Server Backend/views/register.html
Owners: @rzsupra17

fixed team score bug where scores werent added to correct team
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
Owners: @rzsupra17

Dependencies and deprecated bug fix
  Database/Dictionary/pom.xml
  Database/GameDB/pom.xml
  Server Backend/routes/main-route.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

more updates
  Server Backend/entities/GameManager.js
  Server Backend/entities/Gameboard.js
  Server Backend/entities/PlayerManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/helpers/ResponseHandler.js
  Server Backend/helpers/ScoreCalculator.js
  Server Backend/helpers/VerifyTokens.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17

Extract file I/O to FileManager
  Server Backend/helpers/FileManager.js
  Server Backend/helpers/RedundancyManager.js
  Server Backend/server.js
Owners: @rzsupra17

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Switched from arpjs to node-arp
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
Owners: @rzsupra17

fixed play timing
  Server Backend/entities/GameManager.js
Owners: @rzsupra17

stability changes
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
  Server Backend/static/js/frontend_board_model.js
  Server Backend/views/login.html
Owners: @rzsupra17, @xmorton, @BrendanOswego

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

Fixed
  Server Backend/helpers/MacGrabber.js
Owners: @rzsupra17

added play time timer
  Server Backend/entities/GameManager.js
  Server Backend/entities/PlayerManager.js
Owners: @rzsupra17

Removed duplicate dependencies
  Database/GameDB/pom.xml
Owners: @rzsupra17, @xmorton, @BrendanOswego

attempting db integration and removal of files
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/config.js
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/helpers/MacGrabber.js
  Server Backend/package.json
  Server Backend/routes/main-route.js
  Server Backend/routes/users-route.js
  Server Backend/server.js
  Server Backend/static/css/login.css
  Server Backend/static/imgs/logo-min.png
  Server Backend/static/imgs/logo.png
  Server Backend/views/login.html
  Server Backend/views/register.html
  Server Frontend/core/src/test/java/com/csc480/game/Engine/BoardTest.java
  Server Frontend/core/src/test/java/com/csc480/game/Engine/WordVerificationTest.java
Owners: @rzsupra17, @xmorton, @BrendanOswego

changes
  Database/GameDB/src/main/java/com/csc480red/gamedb/PlayerRepository.java
  Server Backend/entities/GameManager.js
  Server Backend/helpers/DB.js
  Server Backend/routes/main-route.js
  Server Backend/server.js
Owners: @rzsupra17, @xmorton, @BrendanOswego

CODEOWNERS:

# Codeowners file to ensure QA is the only group that can push to the Master branch.

# Globals
* @rzsupra17 @xmorton @BrendanOswego

# Engine Specific Files
/Server\ Backend/ @rzsupra17

# GUI Specific Files
/Frontend/ @xmorton

# Database Specific Files
/Database\ Interface/ @BrendanOswego

# Multi-Team Specific Files
/Server\ Frontend/ @rzsupra17 @xmorton
/Server\ Statistics\ Frontend/ @rzsupra17 @xmorton
